.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* padding: 4rem 4rem; */
}

.skills__gridcontent {
  padding: 0 15%;
}

.skill__frontend {
  background-color: #f6f6f7;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 5px 5px 0px 0px;
}

.skill__box {
  background-color: #f6f6f7;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  cursor: pointer;
}

.skill__box img {
  max-width: 192px;
  max-height: 96px;
}

.skill__box__border {
  background-color: #f6f6f7;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4rem;
  border-radius: 0px 0px 5px 5px;
}


.skill__backend {
  background-color: #f6f6f7;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.5rem;
}
